@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --blue: #58a8e2;
  --darkblue: #091d2b;
  --lightblue: #83bdda;
  --yellow: #f7f4f3;
  --orange: #ec9a29;
  --green: #4f5a4d;
}
